.chart{
    position: absolute;
    width: 60%;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
}
@media (max-width: 700px){
    .chart{
        width: 100%;
    }
}