.select{
    background: none;
    font-size: 20px;
    cursor: pointer;
    border-top: none;
    border-left: none;
    border-right: none;
    margin-left: 40px;
    width: 160px;
    position: absolute;
}
.option{
    font-size: 16px;
    border-radius: .5rem;
}

@media (max-width: 700px){
    .select{
        top: 100px;
        margin-left: 0px;
        left: 50%;
        transform: translate(-50%)
    }
}